---
layout: adventures
---

<div class="bg-light-pink">
  <div class="pb6">
    <img src="{{ site.url }}/assets/img/hitachi.gif"></img>
     <h2 class="tc fw7  center f2-ns white lh-title tracked mt0">Adventures from your couch.</h2>
     <p class="white mv0  tr">
      Pay what you can queer centered self care. 
      <br/>
      A newsletter to help you take care of yourself. Delivered every Friday.
    </p>
  </div>
</div>
<div class="flex flex-wrap">
<div class="fl-ns w-third-ns  w-100 bg-light-purple stretch dib pa4 pa5-ns white relative ">  
  <div class="h3 w3 absolute top--2 left--2 square bg-white-20"></div>
  <div>
    <p class="mv0 pb1 bb bw2 dib tracked ">
      $1/week.<br/>
      $4/mo.
    </p>
    <br/>
    <div class="pt4">
      <a class="w-100 white b--white tracked bg-animate bw1 ba tc pv2 ttu fw6 bg-transparent mt3 pointer grow pa3-ns hover-bg-white"
        href="https://cuties.memberful.com/checkout?plan=30774">
        Sign Up
      </a>
    </div>
  </div>
</div>
<div class="fl-ns w-third-ns  w-100 bg-iris stretch dib pa4 pa5-ns white relative ">  
  <div class="h3 w3 absolute top--2 left--2 bg-white-20"></div>
  <div>
    <p class="mv0 pb1 bb bw2 dib tracked ">
      $2/week.<br/>
      $8/mo.
    </p>
    <br/>
    <div class="pt4">
      <a class="w-100 white b--white tracked bg-animate bw1 ba tc pv2 ttu fw6 bg-transparent mt3 pointer grow pa3-ns hover-bg-white"
        href="https://cuties.memberful.com/checkout?plan=30786">
        Sign Up
      </a>
    </div>
  </div>
</div>
<div class="fl-ns w-third-ns  w-100 bg-dark-pink stretch dib pa4 pa5-ns white relative ">  
  <div class="h3 w3 absolute top--2 left--2 square bg-white-20"></div>
  <div>
    <p class="mv0 pb1 bb bw2 dib tracked ">
      $4/week
      <br/>
      $16/mo.
    </p>
    <br/>
    <div class="pt4">
      <a class="w-100 white b--white tracked bg-animate bw1 ba tc pv2 ttu fw6 bg-transparent mt3 pointer grow pa3-ns hover-bg-white"
        href="https://cuties.memberful.com/checkout?plan=30785">
        Sign Up
      </a>
    </div>
  </div>
</div>
</div>